/*************** General *****************/

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	color: #403F3D;
}

h1 {
	font-size: 2.369em;
}

h2 {
	font-size: 1.777em;
	line-height: 2.2em;
}

h3 {
	font-size: 1.333em;
	line-height: 1.88em;
}

h4 {
	font-size: 1em;
	line-height: 1.5em;
}

p {
	font-size: .85em;
	line-height: 1.4em;
}

img {
	max-width: 100%;
	height: auto;
	display: inline-block;
}

ul {
	list-style-type: none;
}

li {
	text-decoration: none;
}

a {
	text-decoration: none;
	color: grey;
}

/************ Header **************/

header {
	width: 960px;
	margin: 40px auto;
	display: block;
	overflow: hidden;
	margin-bottom: 40px;
	padding-bottom: 17px;
}

.logo {
	float: left;
	width: 60%;
	display: inline-block;
}

.logo img {
	float: left;
	padding-right: 10px;
}

#main_menu {
	display: block;
	margin-top: 50px;
	float: right;
	width: 180px;
	text-align: center;
}

#main_menu ul {

}

#main_menu li {
	height: 20px;
	line-height: 20px;
	font-size: 17px;
	display: block;
	float: left;
	width: 49%;
}

#main_menu a {
	display: block;
	color: #403F3D;
	font-weight: bold;
}

#main_menu li:first-of-type {
	border-right: 2px solid #403F3D;
}

#main_menu a:hover {
	color: #71c596;
}

#main_menu a.here {
	color: #71c596;
}

/************** Work ****************/

#wrapper {
	width: 960px;
	max-width: 90%;
	margin: 50px auto 50px auto;
	overflow: hidden;
}

.works {
	display: block;
	width: 100%;
	overflow: hidden;
	margin-bottom: 50px;
}

.works img {
	float: left;
	width: 45%;
}

.facts_container {
	display: block;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #BFBCB8;
	border-bottom: 1px solid #BFBCB8;
	padding: 5px 0 5px 0;
	margin-bottom: 20px;
}

.work_facts {
	width: 26%;
	overflow: hidden;
	display: inline-block;
	padding-bottom: 0;
}

.fact {
	font-size: 14px;
}

.description {
	display: inline-block;
	float: right;
	width: 50%;
}

.description p {
	padding-bottom: 15px;
}

.social_media {
	width: 20%;
	display: inline-block;
	float: right;
	padding: 5px 0 5px 0;
}

.social_media img {
	width: 18%;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	float: right;
}

/************** Person **************/

#contact_wrapper {
	width: 900px;
	max-width: 90%;
	margin: 50px auto 0 auto;
	overflow: hidden;
}

img.profile {
	float: left;
	width: 50%;
}

#contact_wrapper li {
	display: block;
}

#contact_wrapper ul {
	padding-bottom: 15px;
}

.skills {
	display: block;
	float: right;
	width: 45%;
	font-size: 15px;
	overflow: hidden;
}

.about {
	display: block;
	clear:both;
	padding-top: 35px;
	width: 100%;
	overflow: hidden;
}

.about p {
	padding-top: 15px;
}

.about a {
	color: grey;
}

.about h3 {
	border-top: 1px solid #BFBCB8;
	border-bottom: 1px solid #BFBCB8;
}

.school {
	display: inline-block;
	width: 20%;
	height: 100px;
	float: left;
	padding-top: 50px;
	text-align: center;
}

.school img {
	width: 150px;
	vertical-align: middle;
}

.arrow {
	display: block;
	width: 60px;
	float: right;
	margin-right: 0;
}

.arrow img {
	width: 50px;
}

.arrow span {
	font-size: .8em;
	font-weight: bold;
	margin-left: -25px;
}

/************** Footer ***************/

footer {
	width: 960px;
	margin: 10px auto 20px auto;
	display: block;
	clear: both;
	overflow: hidden;
	border-top: 1px solid #BFBCB8;
	padding-top: 17px;
}

footer p {
	width: 40%;
	display: inline-block;
}

.social {
	display: inline-block;
	float: right;
}

.social img {
	width: 25px;
}

	














